<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/33fb826b-ddf9-441d-8d28-fffe9dbd7cb0/resourceGroups/RamuRes/providers/Microsoft.Web/sites/azuretestwebapp20251104122338/slots/staging</ResourceId>
    <ResourceGroup>RamuRes</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://azuretestwebapp20251104-staging-h9hmfceqgxadc9g3.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>fc348bb4-6cc6-4a8c-8ca2-19a61d034b71</ProjectGuid>
    <PublishUrl>https://azuretestwebapp20251104-staging-h9hmfceqgxadc9g3.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName>$azuretestwebapp20251104122338__staging</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>